form {
  float: left;
  clear: both;
  width: 100%;
}

input[type="text"], textarea {
  border: none;
  margin-left: 5px;
  border: 2px solid white;
  font-family: $font-mono;
  &:focus {
    outline: none;
    border: 2px solid $primary;
  }
}

input[type="text"] { width: 3em; }

select {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: .5em 2em;
}