.schedule-list {
  list-style: none;
  float: left;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  li {
    border-bottom: 1px solid $neutral;
    vertical-align: top;
    position: relative;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    background: #fff;
    @include clearfix;
    &:first-child { border-top: 1px solid $neutral; }
    time {
      position: absolute;
      top: 1em;
      left: 1em;
      font-family: $font-mono;
    }
    .event {
      min-height: 5.6em;
      position: relative;
      width: 80%;
      float: right;
      padding: 1em 3em 1em 6em;
    }
    .event-speaker {
      font-size: 13px;
      font-size: .86667rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      display: block;
    }
    img {
      position: absolute;
      top: 1em;
      left: 1em;
      max-width: 4.25em;
    }
  }
}
