.sponsor {
  &s {float:left; clear: both;}
  &-list {
    list-style-type: none;
    padding: 0;
  }
  &-tile {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em; 
    position: relative;
    a {
      display: inline-block;
      background: #fff;
      width: 250px;
      max-width: 250px;
      height: 250px;
      padding: 1em;
    }
    &-half {
      float: left;
      margin-right: 1em; 
      position: relative;
      a { 
        display: inline-block;
        background: #fff;
        width: 250px;
        max-width: 250px;
        height: 100px;
        padding: 1em; 
      }
      img, svg {
        @include center;
        @include grayscale;
        transition: all 500ms ease;
      }
      &:hover {
        img, svg {
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          filter: none;
        }
      }
    }
    &-quarter {
      float: left;
      margin-right: 1em; 
      position: relative;
      a { 
        display: inline-block;
        background: #fff;
        width: 100px;
        max-width: 100px;
        height: 100px;
        padding: 1em; 
      }
      img, svg {
        @include center;
        @include grayscale;
        transition: all 500ms ease;
      }
      &:hover {
        img, svg {
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          filter: none;
        }
      }
    }
    img, svg {
      @include center;
      @include grayscale;
      transition: all 500ms ease;
    }
    &:hover {
      img, svg {
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        filter: none;
      }
    }
  }
}