.tito {
  &-badge-link {
    display: none;
  }
  &-wrapper {
    margin-top: 2em;
    width: 100%;
    float: left;
    clear: both;
    form { margin: 0; }
  }
  &-ticket {
    background: rgba($secondary, .5);
    padding: 1em;
    margin-bottom: .5em;
    border-radius: 0 8px 0 8px;
    position: relative;
    float: left;
    width: 100%;
    @include clearfix;
    &-quantity, &-price, &-name, &-status-ended, &-status-sold-out { float: left; font-family: $font-mono; font-size: 1em; text-transform: uppercase; }
    &-list { list-style-type: none; padding: 0; margin: 0; }
    &-name { margin-right: 1em; }
    &-status {
      &-ended, &-sold-out { opacity: .5; }
    }
    &-price-quantity {
      position: absolute;
      top: 1em;
      right: 1em;
    }
    &-quantity {
      span { margin: 0 20px;}
      &-field { text-align: center; }
    }
    &-description {
      float: left;
      clear: both;
      max-width: 40em;
      font-size: 85%;
    }
  }
  &-discount {
    &-code {
      @include clearfix;
      label { 
        float: left;
        font-family: $font-mono;
        text-transform: uppercase;
        margin-right: 1em;
      }
      &-show { display: none; }
      &-field {
        width: 200px !important;
        text-align: center;
        margin-right: 1em;
      }
      &-form-wrapper {
        width: 45%;
        float: right;
        margin: 1em 0;
      }
    }
    &-apply-button { 
      background: $secondary;
      max-width: 100px; 
    }
  }
  &-submit {
    float: right;
    max-width: 200px;
  }
}